header {
      text-align: center;
      background: url("https://img.datacenterfrontier.com/files/base/ebm/datacenterfrontier/image/2024/06/6671d8df60b5ad219d3732ba-lookerstudio_shutterstock_2403396227.png");
      background-size: cover;
      color: white;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 3px solid #c07030;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(238, 129, 45, 0.8);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
